# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/
yolo*
data*
runs
# Next.js
.next/
out/

# YOLO datasets and outputs
backend/yolo_dataset/
backend/yolo_dataset_crop/
backend/yolo_dataset_full/
backend/runs/

# Images used for testing/validation
backend/testimage/
backend/valimage/

# Model weights
*.pt
*.pth
*.onnx

# Jupyter
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
# production
/build
data
# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
